

/* ---------------------------gallery---------------------*/
.gallery-menu{
    position: relative;
    display: flex;
    width: 800px;
    top:100px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4{
    border: none;
    background-color: gray;
    color: white;
}
.btn-1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.gallery-container{
    position: relative;;
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 1000px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    gap:20px;
}
.gallery-1{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-2{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-3{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-4{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-5{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-6{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-7{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-8{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-9{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-10{
  
    width: 400px;
    height: 400px;
    background-color: green;
}




