/*----------------------container---------------------------*/
.service-process-container {
    position: relative;
    width: 50vw;
    min-height: 1200px;
    /* height: fit-content; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.service-process-banner {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.img-logo-container {
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.service-process-txt {
    padding: 15px;
    border-left: black solid 2px;
    padding-bottom: 0px;
    font-size: 20px;
}

.content-container {
    position: relative;
    width: 100%;
    min-height: 1200px;
    /* height: fit-content; */
}

.service-process-content-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.step-background {
    width: 50%;
    height: 250px;
    top: 0;
    left: 0;
    filter: brightness(70%);
}

.step-img {
    width: 100%;
    height: 250px;
}

.step-background:hover {
    filter: brightness(30%);
}

.service-process-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.step {
    width: 50%;
    height: 250px;
    padding: 40px;
    color: white;

}

.title-step {
    display: flex;
    height: 50%;
    font-size: x-large;
    gap: 20px;
    align-items: baseline;
}

.btn-proposal {
    background-color: white;
    height: fit-content;
    border: none;
    font-size: large;
    padding: 10px;
    color: gray;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.btn-proposal:hover {
    cursor: pointer;
}
/*-----------------------------footer------------------------------------*/
footer {
    background-color: rgb(65, 65, 65);
    position: relative;
    box-sizing: border-box;
    height: 70vh;
    width: 100vw;
    margin-top: 200px;
   
}

.banner {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
}

.infor {
    display: flex;
    color: #fff;
    margin: 0 auto;
    text-align: left;
    width: 800px;
    justify-content: flex-start;
    gap:100px;
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 40px;
}

.sp-loc{
    width: 170px;
}
.sp-phone{
    margin-top: 60px;
}


.final-line {
    display: flex;
    color: #fff;
    width: 800px;
    margin: 0 auto;
    justify-content: flex-end;
    font-size: 13px;
    align-items: baseline;
    margin-top: 40px;
}

/* .final-line .email {
    margin-top: 10px;
} */
.final-line .email:hover {
    cursor: pointer;
}

.final-line .menu-final-line {
    margin-left: 50px;
}

.final-line .menu-final-line ul {
    list-style-type: none;

}

.final-line .menu-final-line li {
    display: inline;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.25em) {

    html {
        overflow-x: hidden;
    }

    body {
        position: relative;

    }

    .service-process-container {
        margin: 0;
        width: 100%;
        height: fit-content;
        padding-left: 20px;
        padding-right: 20px;

    }

    .service-process-banner {
        height: 100px;

    }

    .img-logo-container {
        padding-left: 10px;
    }

    .content-container {
        position: relative;
        width: 100%;
        min-height: 2470px;
        /* height: fit-content; */
        /* padding: 20px; */

    }

    .service-process-content-background {
        flex-direction: column;
        /* border: black solid 3px; */
    }

    .step-background {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        /* border: black solid 3px; */
    }

    .step-img {
        width: inherit;
        height: inherit;
    }

    .service-process-content {
        flex-direction: column;
        /* border: black solid 3px; */

    }

    .step {
        height: 100%;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-left:20px;
    }

    .title-step {
        display: flex;
        flex-direction: column;
    }

    .content-step {
        margin-top: 20px;
    }

    footer{
        width:100%;
        height: 50%;
    }
    .banner{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .infor {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 0;
        gap:0;
    }

    .award {
        display: none;
    }
    .titleh1{
        display: none;
    }
    .sp-loc{
        margin-top: 10px;
        text-align: center;
    }
    .sp-phone{
        margin-top: 10px;
        text-align: center;
        
    }
    .final-line{
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .menu-final-line{
        display: none;
    }

}

