
/*----------------------container---------------------------*/
.service-process-container {
    position: relative;
    width: 900px;
    min-height: 1200px;
    /* height: fit-content; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.service-process-banner {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.img-logo-container {
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.service-process-txt {
    padding: 15px;
    border-left: black solid 2px;
    padding-bottom: 0px;
}
.content-container{
    position: relative;
    width: 100%;
    height: 1200px;  
}
.service-process-content-background{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    filter: brightness(70%);
}
.step-background{
   
    width: 50%;
    height: 250px;
    top:0;
    left:0;
}
.step-img{
    width: 100%;
    height: 250px;
}
.step-background:hover{
    filter: brightness(30%);
}

.service-process-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.step {
    width: 50%;
    height: 250px;
    padding: 40px;
    color: white;

}

.step-1 {
    /* background-image: url(image/step1.webp); */
    /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
        url(image/step1.webp); */
}

.title-step {
    display: flex;
    height: 50%;
    font-size: x-large;
    gap: 20px;
    align-items: baseline;
}

.btn-proposal {
    background-color: white;
    height: fit-content;
    border: none;
    font-size: large;
    padding: 10px;
    color: gray;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.btn-proposal:hover {
    cursor: pointer;
}

/*-----------------------------footer------------------------------------*/
footer {
    background-color: rgb(65, 65, 65);
    position: relative;
    box-sizing: border-box;
    height: 70vh;
    width: 100vw;
    margin-top: 200px;

}

.banner {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
}

.infor {
    display: flex;
    color: #fff;
    margin: 0 auto;
    text-align: left;
    width: 800px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .award
.contact,
.office-hour {
    font-size: small;
} */

.final-line {
    display: flex;
    color: #fff;
    width: 800px;
    margin: 0 auto;
    justify-content: flex-end;
    font-size: small;
    align-items: baseline;
}

/* .final-line .email {
    margin-top: 10px;
} */
.final-line .email:hover {
    cursor: pointer;
}

.final-line .menu-final-line {
    margin-left: 50px;
}

.final-line .menu-final-line ul {
    list-style-type: none;

}

.final-line .menu-final-line li {
    display: inline;
}