/*----------------------------container--------------------------------*/
.about-us-container {
    position: relative;
    width: 1000px;
    min-height: 1500px;
    /* height: fit-content; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about-us-banner {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.img-logo-container {
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.about-us-txt {
    padding: 15px;
    border-left: black solid 2px;
    padding-bottom: 0px;
    font-size: 20px;
}

/*--------------*/
.our-story-container {
    width: 100%;
    height: 600px;
    display: flex;
    gap: 15px;
}

.left-container {
    width: 50%;
    background-color: chocolate;
}

.left-container img {
    width: 100%;
    height: 100%;
}

.right-container {
    position: relative;
    display: flex;
    width: 50%;
    background-color: rgba(199, 185, 192, 0.123);
    align-items: center;
}

.our-story-front-layer {
    position: absolute;
    width: 95%;
    height: 75%;
    background-color: white;
    display: flex;
}

.title-vs-img {
    padding: 30px;
}

.title-vs-img .title-txt {
    border-left: black solid 2px;
    padding: 10px;
    font-size: 22px;
}

.title-vs-img img {
    margin-top: 30px;
}

.story-txt {
    position: relative;
    font-size: 25px;
    width: 100%;
    padding-bottom: 100px;
}

.story-txt p {
    position: absolute;
    bottom: 50px;
}

/*---------------------*/
.our-team-container {
    margin-top: 15px;
    width: 100%;
    height: 450px;
    display: flex;
    gap: 10px;
}

.con-1 {
    position: relative;
    width: 25%;
    height: 100%;
}

.con-2 {
    background-color: lightgray;
    width: 25%;
    height: 100%;
    display: flex;
    color: white;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.con-3 {
    position: relative;
    width: 25%;
    height: 100%;
}

.con-4 {
    position: relative;
    width: 25%;
    height: 100%;
}

.img-zoom:hover {
    transform: scale(1.1);

}

/*----------------------*/
.introduce-con {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: futura-lt-w01-light, sans-serif;
    color: rgb(65, 65, 65);
    line-height: normal;
    font-size: medium;
    letter-spacing: 0.3mm;
}
.introduce-con p{
    text-indent: 30px;
    text-align: justify;
}

/*---------------------------*/
.our-loc-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.our-loc-txt {
    border-left: black solid 2px;
    margin-left: 15px;
    height: fit-content;
    padding-left: 10px;

}

.txt-1 {
    color: gray;
    font-size: 22px;
}

.txt-2 {
    font-size: 30px;
}

.btn-contact-us {
    border: none;
    background-color: gray;
    color: white;
    font-size: small;
}

.btn-contact-us:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

.map-mes-container {
    width: 100%;
    height: 800px;
    margin-top: 40px;
    display: flex;
    /* margin-bottom: 100px; */
    background-color: white;
}

.map-con {
    width: 33%;
    height: 100%;
}

.google-map {
    width: 100%;
    height: 100%;
    border: 0;
}

.mes-con {
    width: 67%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.mes-title-txt {
    font-size: 30px;
}

.tbl-container {
    /* border: black solid 1px; */
    width: 100%;
    height: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.tblcss {
    display: flex;
    height: 25%;
}

.tblcss-2 {
    display: flex;
    height: 50%;
}

.concss {
    width: 50%;
    border: black solid 1px;
}

.txtcss {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    border: none;
}

.ta {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 15px;
    resize: none;
}

.container-2 {
    width: 100%;
    height: 300px;
    display: flex;
}

.property-type-con {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 5px;
    font-size: 15px;
}

.property-status-con {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 5px;
    font-size: 15px;
}

.prop-title {
    font-size: 16px;
    font-style: italic;
}

.prop-1,
.status-1 {
    margin-top: 10px;
}

.radio-type {
    width: 20px;
    height: 20px;
}

.col-3 {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    margin-left: 5%;
}

.col-3-con {
    width: 100%;
    height: 20%;
    font-size: 15px;
    border: black solid 1px;
}

.col-3-txt {
    width: 100%;
    height: 100%;
    padding-left: 20px;

}

.idea-con {
    width: 100%;
    height: 80%;
    margin-top: 20px;
}

.ta-idea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 15px;
    padding: 20px;
    border: black solid 2px;
}

.btn-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-txt {
    width: 50%;
    font-size: 13px;
}

.btn-submit {
    border: none;
    width: 150px;
    height: 50px;
    background-color: black;
    opacity: 0.8;
    color: white;
}

.btn-submit:hover {
    cursor: pointer;
    color: white;
    opacity: 1;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.25em) {
    html{
        overflow-x: hidden;
    }
    .about-container{
        width: 100vw;
        height: 360vh;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
    }

    .about-us-banner {
        width: 100vw;
        height: 100px;
       
    }

    .our-story-container {
        display: none;
    }

    .our-team-container {
        display: none;
    }

    .introduce-con {
        width: 100vw;
        height: fit-content;
    }

    .our-loc-container {
        display: none;
    }

    .map-mes-container {
        flex-direction: column;
        width: 100vw;
        padding: 0;
        /* gap: 20px; */
    }
    .map-con{
        width: 100vw;
        height: fit-content;
    }
    .google-map{
        width: 100vw;
        height: 400px;
        left: 0;
        top:0;
       padding: 30px;
    }
    .mes-con{
        width: 100vw;
        height: fit-content;
        padding-left: 0;
        background-color: white;
    }
    .tbl-container{
        width: 100vw;
        height: fit-content;
        gap: 10px;
    }
    .tblcss{
        width: 100vw;
        height: fit-content;
    }
    .tblcss-2{
        width: 100vw;
    }
    .concss{
        width: 100%;
        height: 80px;
    }
    .ta{
        width: 100%;
        height: 160px;
    }

    .mes-title-txt{
        padding-left: 30px;
        padding-right: 30px;
    }
    .mes-con .tbl-row-1{
        flex-direction: column;
        gap: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .mes-con .tbl-row-2{
        flex-direction: column;
        gap: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .mes-con .tbl-row-3{
        padding-left: 30px;
        padding-right: 30px;
    }
    .container-2{
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }
    .property-type-con{
        width: 100vw;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .property-status-con{
        width: 100vw;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-3{
        width: 100vw;
        margin-left: 0;
        margin-top: 20px;
        gap:10px;
       
    }
    .col-3-con{
        padding-left: 30px;
        padding-right: 30px;
        border: none;;
    }
    .col-3-txt{
        width: 100%;
        height: 50px;
    }
    .idea-con{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ta-idea{
        width: 100%;
        height: 150px;
    }
    .btn-container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn-container .info-txt{
        display: none;
    }

}