

/* ---------------------------gallery---------------------*/
.gallery-menu{
    position: relative;
    display: flex;
    width: 800px;
    top:100px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4{
    border: none;
    background-color: gray;
    color: white;
}
.btn-1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.gallery-container{
    position: relative;;
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 1000px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    gap:20px;
}
.gallery-1{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-2{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-3{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-4{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-5{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-6{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-7{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-8{
  
    width: 400px;
    height: 400px;
    background-color: green;
}
.gallery-9{
   
    width: 400px;
    height: 400px;
    background-color: coral;
}
.gallery-10{
  
    width: 400px;
    height: 400px;
    background-color: green;
}




/*-----------------------------footer------------------------------------*/
footer {
    background-color: rgb(65, 65, 65);
    position: relative;
    box-sizing: border-box;
    height: 70vh;
    width: 100vw;

}

.banner {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
}

.infor {
    display: flex;
    color: #fff;
    margin: 0 auto;
    text-align: left;
    width: 800px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .award
.contact,
.office-hour {
    font-size: small;
} */

.final-line {
    display: flex;
    color: #fff;
    width: 800px;
    margin: 0 auto;
    justify-content: flex-end;
    font-size: small;
}

.final-line .email {
    margin-top: 10px;
}
.final-line .email:hover{
    cursor: pointer;
}

.final-line .menu-final-line {
    margin-left: 50px;
}

.final-line .menu-final-line ul {
    list-style-type: none;

}

.final-line .menu-final-line li {
    display: inline;
}